/* Define the fonts using @font-face */
@font-face {
    font-family: 'LeagueSpartan';
    src: url('../fonts/LeagueSpartan-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'NeueMachina';
    src: url('../fonts/NeueMachina-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'NeueMachina';
    src: url('../fonts/NeueMachina-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'NeueMachina';
    src: url('../fonts/NeueMachina-Ultrabold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

/* Override Bootstrap heading fonts */
h1, h2, h3, h4, h5, h6 {
    font-family: 'LeagueSpartan', sans-serif;
    font-weight: bold;
}

/* Override Bootstrap paragraph fonts */
p, body {
    font-family: 'NeueMachina', sans-serif;
    font-weight: 400; /* Regular */
}
